$color-btn: #496F55;
$color-footer:#060606;
$color-text: #E1BE0F;
$colot-link: #ffffff;

$width: 1400px;

//media

$media-tablet-big: 978px;
$media-tablet: 750px;
$media-tablet-small: 595px;
$media-phone-big: 475px;
$media-phone: 410px;
$media-phone-small: 290px;
$media-mobale: 255px;
