$color-btn: #496F55;
$color-footer:#060606;
$color-text: #E1BE0F;
$colot-link: #ffffff;
$colo-active-track: #14261C;

//bg
$color-bg-first:#75A3BF;
$color-bg-second:#146A8C;
$color-bg-third:#6C96A9;
$color-bg-fourth:#1B748D;
$color-bg-fifth: #356477;
$color-bg-sixth: #184C78;

//range

$color-range: #c8c8c8;

//pop
$color-pop:#171C26;
$pop-body-body:#898C30;
$pop-bg:rgba(0, 0, 0, 0.7);

$width: 1400px;

