//media

$media-desktop-big: 1355px;
$media-desktop: 1025px;
$media-tablet-big: 978px;
$media-tablet-big-pop: 880px;
$media-tablet: 750px;
$tablet: 640px;
$media-tablet-small: 595px;
$media-tablet-pop: 535px;
$media-phone-big: 475px;
$media-phone-big-pop: 458px;
$media-phone-pop: 429px;
$media-phone: 410px;
$phone: 380px;
$phone-pop: 355px;
$phone-pop-small: 335px;
$media-phone-small: 290px;
$media-mobale: 255px;
