@import '../../src/sass/normalize.css';
html {
  font-size: 10px;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.background {
  padding: 10% 3% 0% 3%;
  height: calc(100vh - 120px);
  background: url("../../src/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 640px) {
  .background {
    height: calc(100vh - 110px);
  }
}
@media (max-width: 595px) {
  .background {
    height: calc(100vh - 100px);
  }
}
@media (max-width: 475px) {
  .background {
    height: calc(100vh - 70px);
  }
}
@media (max-width: 290px) {
  .background {
    height: calc(100vh - 50px);
    padding: 27% 3% 0% 3%;
  }
}

.background__title {
  width: 187px;
  margin: 0 0 55px 0px;
  font-family: "Inter";
  color: #E1BE0F;
  font-size: 4rem;
  font-weight: 100;
}
@media (max-width: 750px) {
  .background__title {
    font-size: 3rem;
  }
}
@media (max-width: 595px) {
  .background__title {
    margin: 0 0 75px 0px;
  }
}
@media (max-width: 475px) {
  .background__title {
    font-size: 2.7rem;
  }
}
@media (max-width: 410px) {
  .background__title {
    font-size: 2.3rem;
  }
}
@media (max-width: 290px) {
  .background__title {
    font-size: 2rem;
  }
}

.background__line {
  max-width: 1098px;
  height: 2px;
  margin: 0 0 50px 70px;
  background-color: #060606;
}
@media (max-width: 595px) {
  .background__line {
    height: 3px;
  }
}
@media (max-width: 595px) {
  .background__line {
    margin: 0 0 130px 70px;
  }
}
@media (max-width: 410px) {
  .background__line {
    height: 2px;
  }
}

.background__text {
  width: 501px;
  margin: 0 0 6% 48%;
  font-family: "Inter";
  color: #E1BE0F;
  font-size: 3.2rem;
}
@media (max-width: 978px) {
  .background__text {
    margin: 0 0 6% 28%;
    font-size: 3rem;
  }
}
@media (max-width: 750px) {
  .background__text {
    width: 420px;
    margin: 0 0 25% 25%;
    font-size: 2.8rem;
  }
}
@media (max-width: 595px) {
  .background__text {
    width: 360px;
    font-size: 2.2rem;
    margin: 0 0 25% 18%;
  }
}
@media (max-width: 475px) {
  .background__text {
    max-width: 310px;
    font-size: 2rem;
  }
}
@media (max-width: 410px) {
  .background__text {
    max-width: 220px;
    font-size: 1.8rem;
    margin: 0 0 35% 18%;
  }
}
@media (max-width: 290px) {
  .background__text {
    max-width: 200px;
    font-size: 1.5rem;
  }
}
@media (max-width: 290px) {
  .background__text {
    margin: 0 0 45% 18%;
  }
}
@media (max-width: 255px) {
  .background__text {
    font-size: 1.3rem;
    max-width: 170px;
    margin: 0 0 45% 8%;
  }
}

.background__btn {
  margin: 0 0 0 30px;
}
@media (max-width: 475px) {
  .background__btn {
    margin: 0 0 0 10px;
  }
}
@media (max-width: 290px) {
  .background__btn {
    margin: 0 0 0 13%;
  }
}
@media (max-width: 255px) {
  .background__btn {
    margin: 0 0 0 9%;
  }
}

.background__button {
  width: 270px;
  padding: 15px 5px;
  font-family: "Inter";
  color: #E1BE0F;
  font-size: 2.3rem;
  background-color: #496F55;
  border-radius: 10px;
  color: #060606;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 595px) {
  .background__button {
    width: 210px;
    font-size: 2rem;
    padding: 10px 5px;
  }
}
@media (max-width: 475px) {
  .background__button {
    font-size: 1.8rem;
  }
}
@media (max-width: 410px) {
  .background__button {
    width: 190px;
    font-size: 1.6rem;
  }
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.footer {
  padding: 10px 10px 10px;
  background-color: #060606;
}

.footer__text {
  color: #ffffff;
  font-family: "Inter";
  font-size: 1.5rem;
}
@media (max-width: 475px) {
  .footer__text {
    font-size: 1.2rem;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__githab {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../src/img/icons-github.png");
  background-size: 30px 30px;
}
@media (max-width: 475px) {
  .footer__githab {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

.pop {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
}

.pop__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.pop__body {
  position: absolute;
  padding: 30px 35px 60px;
  top: 10%;
  left: 37%;
  background-image: linear-gradient(#75A3BF, #898C30);
  border-radius: 5px;
}
@media (max-width: 978px) {
  .pop__body {
    left: 35%;
    padding: 20px 30px 40px;
  }
}
@media (max-width: 750px) {
  .pop__body {
    top: 20%;
    left: 30%;
  }
}
@media (max-width: 640px) {
  .pop__body {
    top: 20%;
    left: 27%;
  }
}
@media (max-width: 595px) {
  .pop__body {
    padding: 20px 20px 40px;
  }
}
@media (max-width: 475px) {
  .pop__body {
    top: 20%;
    left: 25%;
  }
}
@media (max-width: 410px) {
  .pop__body {
    top: 20%;
    left: 20%;
  }
}
@media (max-width: 380px) {
  .pop__body {
    left: 22%;
    padding: 30px 15px 50px;
  }
}
@media (max-width: 290px) {
  .pop__body {
    left: 15%;
  }
}
@media (max-width: 255px) {
  .pop__body {
    left: 10%;
  }
}

.pop__btn-close {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 30px 0;
}
@media (max-width: 595px) {
  .pop__btn-close {
    margin: 0 0 10px 0;
  }
}

.pop__close {
  width: 30px;
  height: 30px;
  background-image: url("../../src/img/Close-pop.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
@media (max-width: 380px) {
  .pop__close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pop__itemns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pop_link {
  font-size: 2.5rem;
  color: #171C26;
}
@media (max-width: 380px) {
  .pop_link {
    font-size: 2rem;
  }
}

.background__morning {
  padding: 5% 0% 10% 0%;
  background: url("../../src/img/morning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 475px) {
  .background__morning {
    padding: 12% 0% 10% 0%;
  }
}
@media (max-width: 380px) {
  .background__morning {
    padding: 20% 0% 10% 0%;
  }
}
@media (max-width: 290px) {
  .background__morning {
    padding: 40% 0% 10% 0%;
  }
}
@media (max-width: 255px) {
  .background__morning {
    padding: 50% 0% 10% 0%;
  }
}

.background__birds {
  padding: 5% 0% 10% 0%;
  background: url("../../src/img/birds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 475px) {
  .background__birds {
    padding: 12% 0% 10% 0%;
  }
}
@media (max-width: 380px) {
  .background__birds {
    padding: 20% 0% 10% 0%;
  }
}
@media (max-width: 290px) {
  .background__birds {
    padding: 40% 0% 10% 0%;
  }
}
@media (max-width: 255px) {
  .background__birds {
    padding: 50% 0% 10% 0%;
  }
}

.background__city {
  padding: 5% 0% 10% 0%;
  background: url("../../src/img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 475px) {
  .background__city {
    padding: 12% 0% 10% 0%;
  }
}
@media (max-width: 380px) {
  .background__city {
    padding: 20% 0% 10% 0%;
  }
}
@media (max-width: 290px) {
  .background__city {
    padding: 40% 0% 10% 0%;
  }
}
@media (max-width: 255px) {
  .background__city {
    padding: 50% 0% 10% 0%;
  }
}

.morning__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.header__link {
  margin-bottom: 10px;
  text-align: center;
  color: #14261C;
  font-size: 2.5rem;
}
@media (max-width: 978px) {
  .header__link {
    font-size: 2.3rem;
  }
}
@media (max-width: 380px) {
  .header__link {
    font-size: 2rem;
  }
}
@media (max-width: 290px) {
  .header__link {
    font-size: 1.8rem;
  }
}

.player__morning {
  width: 360px;
  padding: 20px;
  background-image: linear-gradient(#04B2D9, #D9C589, #025918);
  border-radius: 5px;
  border-radius: 10px;
}
@media (max-width: 475px) {
  .player__morning {
    width: 300px;
  }
}
@media (max-width: 410px) {
  .player__morning {
    width: 270px;
  }
}
@media (max-width: 380px) {
  .player__morning {
    width: 210px;
  }
}
@media (max-width: 290px) {
  .player__morning {
    width: 180px;
  }
}
@media (max-width: 255px) {
  .player__morning {
    width: 160px;
  }
}

.playlist {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
@media (max-width: 475px) {
  .playlist {
    max-width: 70%;
  }
}

.trek {
  color: #ffffff;
  font-size: 2.1rem;
}
@media (max-width: 475px) {
  .trek {
    font-size: 1.9rem;
  }
}
@media (max-width: 410px) {
  .trek {
    font-size: 1.8rem;
  }
}
@media (max-width: 380px) {
  .trek {
    font-size: 1.4rem;
  }
}
@media (max-width: 290px) {
  .trek {
    font-size: 1.3rem;
  }
}
@media (max-width: 255px) {
  .trek {
    font-size: 1.2rem;
  }
}

.trek__active {
  color: #14261C;
}

.player__progress {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.player__title {
  color: #242616;
  text-align: center;
}
@media (max-width: 410px) {
  .player__title {
    font-size: 1.9rem;
  }
}
@media (max-width: 380px) {
  .player__title {
    font-size: 1.7rem;
  }
}
@media (max-width: 290px) {
  .player__title {
    font-size: 1.5rem;
  }
}

.progressBar {
  max-width: 425px;
  margin-bottom: 10px;
}

.player__range {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 0%, #c8c8c8 0%, #c8c8c8 100%);
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

.player__range::-webkit-slider-thumb,
.saund__range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #ffffff;
}

.time__progressBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trek__current {
  color: #ffffff;
  font-size: 1.5rem;
}

.saund__body {
  max-width: 120px;
}

.saund {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.saund__btn {
  width: 20px;
  height: 20px;
  background-image: url("../../src/img/volume.svg");
  background-size: 20px 20px;
  transition: 0.3s ease-in-out;
}

.saund__btn__not__active {
  width: 20px;
  height: 20px;
  background-image: url("../../src/img/mute.svg");
  background-size: 20px 20px;
}

.saund__range {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #ffffff 50%, #ffffff 50%, #c8c8c8 0%, #c8c8c8 100%);
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

.player__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player__btn {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.player__btn_prev {
  width: 30px;
  height: 30px;
  background-image: url("../../src/img/play-prev.svg");
  background-size: 30px 30px;
}
.player__btn_play {
  width: 50px;
  height: 50px;
  background-image: url("../../src/img/play.svg");
  background-size: 50px 50px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 380px) {
  .player__btn_play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}
.player__btn_next {
  width: 30px;
  height: 30px;
  background-image: url("../../src/img/play-next.svg");
  background-size: 30px 30px;
}

.player__btn_pause {
  width: 50px;
  height: 50px;
  background-image: url("../../src/img/pause.svg");
  background-size: 50px 50px;
}
@media (max-width: 380px) {
  .player__btn_pause {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}

/*# sourceMappingURL=index.css.map */
