@use '../base/mixin' as m;
@use '../base/constans' as c;

.background__morning {
  padding: 5% 0% 10% 0%;
  background: url('../../src/img/morning.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include m.media-phone-big {
    padding: 12% 0% 10% 0%;
  }
  @include m.phone {
    padding: 20% 0% 10% 0%;
  }
  @include m.media-phone-small {
    padding: 40% 0% 10% 0%;
  }
  @include m.media-mobale {
    padding: 50% 0% 10% 0%;
  }
}  

.background__birds {
  padding: 5% 0% 10% 0%;
  background: url('../../src/img/birds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include m.media-phone-big {
    padding: 12% 0% 10% 0%;
  }
  @include m.phone {
    padding: 20% 0% 10% 0%;
  }
  @include m.media-phone-small {
    padding: 40% 0% 10% 0%;
  }
  @include m.media-mobale {
    padding: 50% 0% 10% 0%;
  }
}

.background__city {
  padding: 5% 0% 10% 0%;
  background: url('../../src/img/city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include m.media-phone-big {
    padding: 12% 0% 10% 0%;
  }
  @include m.phone {
    padding: 20% 0% 10% 0%;
  }
  @include m.media-phone-small {
    padding: 40% 0% 10% 0%;
  }
  @include m.media-mobale {
    padding: 50% 0% 10% 0%;
  }
}

.background__random {
  padding: 5% 0% 10% 0%;
  background: url('../../src/img/random.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include m.media-phone-big {
    padding: 12% 0% 10% 0%;
  }
  @include m.phone {
    padding: 20% 0% 10% 0%;
  }
  @include m.media-phone-small {
    padding: 40% 0% 10% 0%;
  }
  @include m.media-mobale {
    padding: 50% 0% 10% 0%;
  }
}

.player__morning {
  background-image: linear-gradient(c.$color-bg-first, c.$color-bg-second);
};

.player__birds {
  background-image: linear-gradient(c.$color-bg-third, c.$color-bg-third);
};

.player__city {
  background-image: linear-gradient(c.$color-bg-fourth,c.$color-bg-fifth);
};

.player__random {
  background-image: linear-gradient(c.$color-bg-sixth,c.$color-bg-sixth);
}