@use '../base/mixin' as m;
@use '../base/constans' as c;

.footer {
  padding: 10px 10px 10px;
  background-color: c.$color-footer;
};

.footer__text {
  color: c.$colot-link;
  font-family: 'Inter';
  font-size: 1.5rem;
  @include m.media-phone-big {
    font-size: 1.2rem;
  }
};

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__githab {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../../src/img/icons-github.png');
  background-size: 30px 30px;
  @include m.media-phone-big {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
};