.background {
  padding: 10% 3% 0% 3%;
  height: calc(100vh - 120px);
  background: url('../../src/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include media-phone-small {
    padding: 27% 3% 0% 3%;
  }
};

.background__title {
  width: 187px;
  margin: 0 0 55px 0px;
  font-family: 'Inter';
  color: $color-text;
  font-size: 4.0rem;
  font-weight: 100;
  @include media-tablet {
    font-size: 3.0rem;
  }
  @include media-tablet-small {
    margin: 0 0 75px 0px;
  }
  @include media-phone-big {
    font-size: 2.7rem;
  }
  @include media-phone {
    font-size: 2.3rem;
  }
  @include media-phone-small {
    font-size: 2.0rem;
  }
};

.background__line {
  max-width: 1098px;
  height: 5px;
  margin: 0 0 50px 70px;
  background-color: $color-footer;
  @include media-tablet-small {
    height: 3px;
  }
  @include media-tablet-small {
    margin: 0 0 130px 70px;
  }
  @include media-phone {
    height: 2px;
  }
};

.background__text {
  width: 501px;
  margin: 0 0 6% 48%;
  font-family: 'Inter';
  color: $color-text;
  font-size: 3.2rem;
  @include media-tablet-big {
    margin: 0 0 6% 28%;
    font-size: 3.0rem;
  }
  @include media-tablet {
    width: 420px;
    margin: 0 0 25% 25%;
    font-size: 2.8rem;
  }
  @include media-tablet-small {
    width: 360px;
    font-size: 2.2rem;
    margin: 0 0 25% 18%;
  }
  @include media-phone-big {
    max-width: 310px;
    font-size: 2.0rem;
  }
  @include media-phone {
    max-width: 220px;
    font-size: 1.8rem;
    margin: 0 0 35% 18%;
  }
  @include media-phone-small {
    max-width: 200px;
    font-size: 1.5rem;
  }
  @include media-phone-small {
    margin: 0 0 45% 18%;
  }
  @include media-mobale {
    font-size: 1.3rem;
    max-width: 170px;
    margin: 0 0 45% 8%;
  }
};

.background__btn {
  margin: 0 0 0 30px;
  @include media-phone-big {
    margin: 0 0 0 10px;
  }
  @include media-phone-small {
    margin: 0 0 0 13%;
  }
  @include media-mobale {
    margin: 0 0 0 9%;
  }
}

.background__button {
  width: 270px;
  padding: 15px 5px;
  font-family: 'Inter';
  color: $color-text;
  font-size: 2.3rem;
  background-color: $color-btn;
  border-radius: 10px;
  color: $color-footer;
  border: none; 
  outline: none;
  cursor: pointer; 
  @include media-tablet-small {
    width: 210px;
    font-size: 2.0rem;
    padding: 10px 5px;
  }
  @include media-phone-big {
    font-size: 1.8rem;
  }
  @include media-phone {
    width: 190px;
    font-size: 1.6rem;
  }
}