@use '../base/mixin' as m;
@use '../base/constans' as c;

.background {
  padding: 3% 3% 0% 3%;
  height: calc(100vh - 120px);
  background: url('../../src/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include m.tablet {
    height: calc(100vh - 100px);
  }
  @include m.media-tablet-small {
    height: calc(100vh - 100px);
  }
  @include m.media-phone-big {
    height: calc(100vh - 70px);
  }
  @include m.media-phone-small {
    height: calc(100vh - 50px);
    padding: 27% 3% 0% 3%;
  }
};

.background__wrapper {
  display: flex;
  padding: 0% 0 0 0;
  flex-direction: row;
  gap: 0 30%;
  @include m.media-desktop-big {
    gap: 0 20%;
  };
  @include m.media-desktop {
    gap: 0 10%;
  };
  @include m.media-tablet-big {
    gap: 0 1%;
  };
  @include m.media-tablet {
    flex-direction: column;
  }
};

.background__desk {
  margin-bottom: 7.0rem;
  @include m.media-tablet {
    margin-bottom: 1.0rem;
  };
  @include m.media-phone {
    margin-bottom: 8.0rem;
  }
}

.background__title {
  width: 187px;
  margin: 0 0 70% 0px;
  font-family: 'Inter';
  font-weight: 700;
  color: c.$color-text;
  font-size: 7.0rem;
  font-weight: 100;
  @include m.media-desktop-big {
    margin: 0 0 10% 0px;
  };
  
  @include m.media-tablet-big {
    margin: 5% 0 10% 0px;
  }
  @include m.media-tablet {
    margin: 5% 0 5% 0px;
    font-size: 4.0rem;
  };
  @include m.media-tablet-small {
    margin: 0 0 25% 0px;
  };
  @include m.media-phone-big {
    margin: 0 0 20% 0px;
    font-size: 3.7rem;
  };
  @include m.media-phone {
    font-size: 2.3rem;
  };
  @include m.media-phone-small {
    font-size: 2.0rem;
  }
};

.background__text {
  width: 501px;
  font-family: 'Inter';
  color: c.$color-text;
  font-size: 3.2rem;
  @include m.media-tablet-big {
    font-size: 3.0rem;
  }
  @include m.media-tablet {
    width: 420px;
    font-size: 2.9rem;
  }
  @include m.media-tablet-small {
    width: 360px;
    font-size: 2.2rem;
  }
  @include m.media-phone-big {
    max-width: 310px;
    font-size: 2.5rem;
  }
  @include m.media-phone {
    max-width: 220px;
    font-size: 1.8rem;
  }
  @include m.media-phone-small {
    max-width: 200px;
    font-size: 1.5rem;
  }
  @include m.media-mobale {
    font-size: 1.3rem;
    max-width: 170px;
  }
};

.background__btn {
  margin: 0 0 0 30px;
  @include m.media-phone-big {
    margin: 0 0 0 10px;
  }
  @include m.media-phone-small {
    margin: 0 0 0 13%;
  }
  @include m.media-mobale {
    margin: 0 0 0 9%;
  }
}

.background__button {
  width: 270px;
  padding: 15px 5px;
  font-family: 'Inter';
  color: c.$color-text;
  font-size: 2.3rem;
  background-color: c.$color-btn;
  border-radius: 10px;
  color: c.$color-footer;
  border: none; 
  outline: none;
  cursor: pointer; 
  @include m.media-tablet-small {
    width: 210px;
    font-size: 2.0rem;
    padding: 10px 5px;
  }
  @include m.media-phone-big {
    font-size: 1.8rem;
  }
  @include m.media-phone {
    width: 190px;
    font-size: 1.6rem;
  }
}