.background__morning {
  padding: 10% 0% 10% 0%;
  background: url('../../src/img/morning.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include media-phone-big {
    padding: 12% 0% 10% 0%;
  }
  @include phone {
    padding: 20% 0% 10% 0%;
  }
  @include media-phone-small {
    padding: 40% 0% 10% 0%;
  }
  @include media-mobale {
    padding: 50% 0% 10% 0%;
  }
}  

.morning__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.player__morning {
  width: 360px;
  padding: 20px;
  background-image: linear-gradient(#04B2D9, #D9C589, #025918);
  border-radius: 5px;
  border-radius: 10px;
  @include media-phone-big {
    width: 300px;
  }
  @include media-phone {
    width: 270px;
  }
  @include phone {
    width: 210px;
  }
 @include media-phone-small {
    width: 180px;
 }
 @include media-mobale {
    width: 160px;
 }
}



.playlist {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.trek {
  color: $colot-link;
  font-size: 2.1rem;
  @include media-phone {
    font-size: 1.8rem;
  }
  @include phone {
    font-size: 1.5rem;
  }
  @include media-phone-small {
    font-size: 1.3rem;
  }
  @include media-mobale {
    font-size: 1.2rem;
  }
}

.trek__active {
  color: $colo-active-track;
}

.player__progress {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.player__title {
  color: #242616;
  text-align: center;
  @include media-phone {
    font-size: 1.9rem;
  }
  @include phone {
    font-size: 1.7rem;
  }
  @include media-phone-small {
    font-size: 1.5rem;
  }
}

.progressBar {
  max-width: 425px;
  margin-bottom: 10px;
}

.player__range {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right,  $colot-link 0%, $colot-link 0%, #c8c8c8  0%, #c8c8c8  100%);
  
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

.player__range::-webkit-slider-thumb,
.saund__range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: $colot-link;
}

.time__progressBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trek__current {
  color: $colot-link;
  font-size: 1.5rem;
}

.saund__body {
  max-width: 120px;
}

.saund {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.saund__btn {
  width: 20px;
  height: 20px;
  background-image: url('../../src/img/volume.svg');
  background-size: 20px 20px;
  transition: .3s ease-in-out;
}

.saund__btn__not__active {
  width: 20px;
  height: 20px;
  background-image: url('../../src/img/mute.svg');
  background-size: 20px 20px;
}

.saund__range {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right,  $colot-link 50%, $colot-link 50%, #c8c8c8  0%, #c8c8c8  100%);
  
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

.player__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player__btn {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  &_prev {
    width: 30px;
    height: 30px;
    background-image: url('../../src/img/play-prev.svg');
    background-size: 30px 30px;
  }
  &_play {
    width: 50px;
    height: 50px;
    background-image: url('../../src/img/play.svg');
    background-size: 50px 50px;
    transition: 0.3s ease-in-out;
    @include phone {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
  }
  &_next {
    width: 30px;
    height: 30px;
    background-image: url('../../src/img/play-next.svg');
    background-size: 30px 30px;
  }
}

.player__btn_pause {
  width: 50px;
    height: 50px;
    background-image: url('../../src/img/pause.svg');
    background-size: 50px 50px;
    @include phone {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
}

