@use '../base/mixin' as m;
@use '../base/constans' as c;

.background__pop {
  padding: 5% 0 0 0;
  @include m.media-tablet {
    padding: 2% 0 0 0;
  };
  @include m.phone {
    padding: 8% 0 0 0;
  };
  
}

.pop__body {
  padding: 80px 55px;
  //background-color: c.$color-bg-first; 
  background-color: rgba(c.$color-bg-first, 0.3);
  border-radius: 10px;
  @include m.media-tablet-big {
    padding: 40px 40px;
  };
  @include m.media-tablet-big {
    max-width: 450px;
  };
};

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
};

.pop__itemns {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include m.media-tablet-big {
    margin: 0 20%;
  };
  @include m.media-tablet-small {
    margin: 0 5%;
  };
  @include m.media-phone-big-pop {
    gap: 30px;
  }
};

.pop_link {
  font-size: 3.0rem;
  color: c.$color-pop;
  @include m.media-tablet-big {
    font-size: 2.5rem;
  };
  @include m.phone {
    font-size: 2.2rem;
  }
};