@use '../base/mixin' as m;
@use '../base/constans' as c;

.background__pop {
  padding: 5% 0 0 0;
 
  @include m.media-desktop {
    padding: 15% 0 0 0;
  };
  @include m.media-tablet-big {
    padding: 25% 0 0 0;
    margin: 0 0 0 15%;
  };
  @include m.media-tablet-big-pop {
    padding: 35% 0 0 0;
    margin: 0 11% 0 11%;
  };
  @include m.media-tablet {
    padding: 25% 0 0 0;
  };
  @include m.media-tablet-small {
    padding: 35% 0 0 0;
  };
  @include m.media-phone-big-pop {
    padding: 55% 0 0 0;
  }
}

.pop__body {
  padding: 80px 55px;
  background-color: c.$color-bg-first; 
  border-radius: 10px;
  @include m.media-tablet-big {
    padding: 40px 40px;
  };
  @include m.media-tablet-big {
    max-width: 550px;
  };
  @include m.media-tablet-pop {
    max-width: 480px;
  }
};

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
};

.pop__itemns {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include m.media-tablet-big {
    margin: 0 20%;
  };
  @include m.media-tablet-small {
    margin: 0 5%;
  };
  @include m.media-phone-big-pop {
    gap: 60px;
  }
};

.pop_link {
  font-size: 3.0rem;
  color: c.$color-pop;
  @include m.media-tablet-pop {
    font-size: 2.5rem;
  };
  
};